SECRET_KEY=django-insecure-dev-change-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.ngrok-free.app,.trycloudflare.com
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,https://*.ngrok-free.app,https://*.trycloudflare.com
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=False

# --- Supabase / PostgreSQL ---
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=isi_password_supabase_disini
DB_HOST=db.xxxxxxxxxxxxxxxxxxxx.supabase.co
DB_PORT=5432
